{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ category.categoria }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ category.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('category_delete', { 'id': category.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}
