{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top:1rem">
                {# <div class="card card-signin my-5" style="background-color:background-color: rgba(223, 153, 48, 0.877);
                    border-radius: 100px 10px 10px 10px;"> #}
                <div class="card-body">
                    <div class="row">
                        <img alt="Logo" class="mx-auto logo" src="{{ asset('img/imagenlogo.png') }}"></div>
                    <h5 class="card-title text-center carta">Registro</h5>
                    <div class="container">
                        {{ form_start(form, {'attr': {'validate': 'validation()'}}) }}
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <label for="selector">Escoja uno:</label>
                                <select class="form-control dropdown" id="selector">
                                    <option value="dni" selected>DNI</option>
                                    <option value="pasaporte">PASAPORTE</option>
                                    <option value="nie">NIE</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.nif, 'NIF') }}<br>
                                {{ form_widget(form.nif, {'attr': {'placeholder': 'NIF', 'class': 'form-control', 'autofocus': 'autofocus', 'id': 'nif' }}) }}<br>
                                {{ form_errors(form.nif) }}
                            </div>

                        </div>
                        <div class="form-label-group pass">
                            <label for="fechaNac">Fecha de Nacimiento</label><br>
                            <input type="date" id="fechaNac" name="fechaNac" min="1930-01-01" max="{{ tiempo }} "/>
                        </div>
                        <div class="form-label-group pass mt-3">
                            {{ form_label(form.plainPassword.first) }}<br>
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Contraseña', 'class': 'form-control' }}) }}<br>
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="form-label-group pass">
                            {{ form_label(form.plainPassword.second) }}<br>
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Repetir contraseña', 'class': 'form-control' }}) }}<br>
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <p class="mt-2">¿Ya tienes cuenta? <a href="{{ path("login") }}">Login</a></p>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrarse
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registro.css') }}">
{% endblock %}
                
{% block javascripts %}
    <script src="{{ asset('js/validation.js') }}"></script>
{% endblock %}
