{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datos list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Fechanacimiento</th>
                <th>Lugarnacimiento</th>
                <th>Dni</th>
                <th>Sip</th>
                <th>Direccion</th>
                <th>Cp</th>
                <th>Poblacion</th>
                <th>Id_tutor</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Categoria</th>
                <th>Club</th>
                <th>Equipo</th>
                <th>Loteria</th>
                <th>Titular</th>
                <th>Dni_titular</th>
                <th>Direccion_titular</th>
                <th>Cp_titular</th>
                <th>Poblacion_titular</th>
                <th>Iban</th>
                <th>Jugador</th>
                <th>Entrenador</th>
                <th>Tutor</th>
                <th>Documentos</th>
                <th>Confirmado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dato in datos %}
            <tr>
                <td>{{ dato.nombre }}</td>
                <td>{{ dato.apellido1 }}</td>
                <td>{{ dato.apellido2 }}</td>
                <td>{% if dato.fechaNacimiento %}{{ dato.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ dato.lugarNacimiento }}</td>
                <td>{{ dato.dni }}</td>
                <td>{{ dato.sip }}</td>
                <td>{{ dato.direccion }}</td>
                <td>{{ dato.cp }}</td>
                <td>{{ dato.poblacion }}</td>
                <td>{{ dato.idtutor }}</td>
                <td>{{ dato.email }}</td>
                <td>{{ dato.telefono }}</td>
                <td>{{ dato.categoria }}</td>
                <td>{{ dato.club }}</td>
                <td>{{ dato.equipo }}</td>
                <td>{% if dato.loteria %}Yes{% else %}No{% endif %}</td>
                <td>{{ dato.titular }}</td>
                <td>{{ dato.dnititular }}</td>
                <td>{{ dato.direcciontitular }}</td>
                <td>{{ dato.cptitular }}</td>
                <td>{{ dato.poblaciontitular }}</td>
                <td>{{ dato.iban }}</td>
                <td>{% if dato.jugador %}Yes{% else %}No{% endif %}</td>
                <td>{% if dato.entrenador %}Yes{% else %}No{% endif %}</td>
                <td>{% if dato.tutor %}Yes{% else %}No{% endif %}</td>
                <td>{{ dato.documentos }}</td>
                <td>{% if dato.confirmado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('datos_show', { 'id': dato.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('datos_edit', { 'id': dato.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('datos_delete', { 'id': dato.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('datos_new') }}">Create a new dato</a>
        </li>
    </ul>
{% endblock %}
