{% extends 'ficha.html.twig' %}

{% block ficha %}
    <div class="imagenusuario">
        <!-- Imagen Usuario -->
        {% if image is same as(null) %}
            <img alt="Foto de perfil" src="{{ asset('img/usuario.png') }}"/>
        {% else %}
            <img alt="Foto de perfil" src="../../img/users/{{ image }}"/>
            {#<img alt="Foto de perfil" src="{{ asset('img/users/'. image) }}"/>#}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Nombre</h5>
            <p>{{ dato.nombre }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>DNI</h5>
            <p>{{ dato.dni }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>PrimerApellido</h5>
            <p>{{ dato.apellido1 }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Fecha Nacimiento</h5>
            <p>{{ fechanac }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>SegundoApellido</h5>
            <p>{{ dato.apellido2 }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Lugar Nacimiento</h5>
            <p>{{ dato.lugarNacimiento }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>SIP</h5>
            <p>{{ dato.sip }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Direccion</h5>
            <p>{{ dato.direccion }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>CP</h5>
            <p>{{ dato.cp }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Poblacion</h5>
            <p>{{ dato.poblacion }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Email</h5>
            <p>{{ dato.email }}</p>
        </div>
        <div class="col-md-6 col-sm-6  camposUsuario">
            <h5>Telefono</h5>
            <p>{{ dato.telefono ? dato.telefono : 0 }}</p>
        </div>
    </div>
    {# {% if  dato.jugador == '1' %}
        <label><input readonly type="checkbox" name="test"  checked="checked" />Soy Jugador</label>
    {% else %}
        <label><input readonly type="checkbox" name="test" readonly="readonly" />Soy Jugador</label>
    {% endif %}
    {% if dato.entrenador == '1' %}
        <label><input type="checkbox" name="checkbox1" checked="checked" readonly="readonly" />Soy Entrenador</label>
    {% else %}
        <label><input type="checkbox" name="checkbox1" readonly="readonly" />Soy Entrenador</label>
    {% endif %}
    {% if dato.tutor == '1' %}
        <label><input type="checkbox" name="checkbox2" checked="checked" readonly="readonly" /> Soy Tutor</label>
    {% else %}
        <label><input type="checkbox" name="checkbox2" readonly="readonly" />Soy Tutor</label>
    {% endif %} #}

    {% if adult %}
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Titular</h5>
                <p>{{ dato.titular ? dato.titular : 0 }}</p>
            </div>
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>DNI Titular</h5>
                <p>{{ dato.dniTitular ? dato.dniTitular : 0 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Direccion Titular</h5>
                <p>{{ dato.direccionTitular ? dato.direccionTitular : 0 }}</p>
            </div>
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>CP Titular</h5>
                <p>{{ dato.cpTitular ? dato.cpTitular : 0 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Poblacion Titular</h5>
                <p>{{ dato.direccionTitular ? dato.direccionTitular : 0 }}</p>
            </div>
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>IBAN </h5>
                <p>{{ dato.iban ? dato.iban : 0 }}</p>
            </div>
        </div>
    {% endif %}

    {% if dato.jugador %}
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Equipo</h5>
                <p>{{ dato.equipo ? dato.equipo : 0 }}</p>
            </div>
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Club</h5>
                <p>{{ dato.club }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Categoria</h5>
                <p>{{ dato.categoria }}</p>
            </div>
            <div class="col-md-6 col-sm-6  camposUsuario">
                <h5>Loteria</h5>
                <p>{{ dato.loteria ? "Sí (+30€)" : "No (+0€)" }}</p>
            </div>
        </div>
    {% endif %}

    <div class="col-md-12 col-sm-12 icons">
        <a href="{{ path('datos_new', { 'id': dato.id }) }}"><i class="fas fa-plus-circle fa-2x"></i></a>
        <a href="{{ path('datos_delete', { 'id': dato.id }) }}"><i class="fas fa-ban fa-2x"></i></a>
        <a href="{{ path('datos_edit', { 'id': dato.id }) }}"><i class="fas fa-pencil-alt fa-2x"></i></a>
        <i class="fas fa-upload fa-2x"></i>
    </div>
    <div class="text-center">
        <button class="boton mb-4" type="submit">Enviar</button>
    </div>
{% endblock %}
